.social_card {
  background-color: #fff;
  box-shadow: 0 10px 30px -5px rgba(60, 60, 60, 0.2);
  border-radius: 12px;
  min-width: 400px;
  overflow: hidden;
	transition: all .2s;
}

.social_card__header {
  padding: 20px;
  background-color: #FF69B4;
	background: linear-gradient(45deg, #F744D1 0%, #0096FF 100%);
  min-height: 170px;
  background-size: cover;
}

.social_card__header-links {
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 15px;
	line-height: 1.5;
}

.social_card__header-links a {
  	display: block;
	color: #FFFFFF;
	text-decoration: none;
	border-bottom: 1px solid #FFFFFF;
	transition: all ease .3s;
}

.social_card__header-links a:hover {
	border-color: transparent;
}

.social_card__header-links img {
  display: block;
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin: 0 3px;
}

.social_card__header-link-item {
	margin-left: 1em;
	margin-bottom: .3em;
}

.social_card__content-body {
  transform: skewY(-5deg);
  background-color: #ffffff;
  margin-top: -40px;
}

.social_card__content {
  transform: skewY(5deg);
  padding: 20px;

}

.social_card__content-text {
  text-align: center;
  color: #758E9C;
}

.social_card__content-title {
  font-size: 22px;
  font-weight: 600;
  margin: 5px 0;
}

.social_card__content-descr {
  font-size: 18px;
  font-weight: 300;
  margin: 5px 0;
}

.social_card__avatar {
  display: block;
  width: 166px;
  height: 166px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 9px solid #ffffff;
  margin: -95px auto 20px;
  box-sizing: border-box;
  object-fit: cover;
}

.big-view .social_card {
	animation-name: cd-bounce-unrotate;
	animation-duration: 0.5s;
}

.small-view .social_card {
	overflow: visible;
	min-width: unset;
	width: 100%;
	animation-name: cd-bounce-rotate;
	animation-duration: 0.5s;
}
.small-view .social_card__content,
.small-view .social_card__content-body {
	transform: unset;
}

.small-view .social_card__content-body {
  border-radius: 12px;
}

.small-view .social_card__header {
	height: 0;
	opacity: 0;
	min-height: unset;
	display: none;
}

.small-view .social_card__content {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	padding: 15px 25px;
 
}

.small-view .social_card__avatar {
	width: 80px;
	height: 80px;
	border-width: 0px;
	margin-right: 15px;
	margin-bottom: 0;
	margin-top: 0;
}

.small-view .social_card__content-text {
	text-align: left;
	margin-right: 30px;
}

.small-view .social_card__content-title,
.small-view .social_card__content-descr {
	font-size: 1em;
	margin: 0;
}

@media (max-width: 600px) {
	.social_card {
		min-width: unset;
		margin: 0 10px;
	}

	.small-view .social_card {
		width: auto;
	}

	.small-view .social_card__content {
		padding: 10px;
	}
}