.dots {
	position: relative;
	overflow: visible;
}

.dots .soc-links {

	position: absolute;
	top: 50%;
}

.dots .soc-links .social_card__header-links {
	display: block;

}

.dots .social_card__header-links a {
	color: #006eff;
	border-bottom: none;
}

.dots .social_card__header-links a:hover {
	text-shadow: 0 1px 5px #75d3ef;
}

.dots.links-hidden .soc-links {
	transform: translateY(-50%);
	opacity: 0;
	display: none;
	height: 0;
	width: 0;
	left: 0;
}


.dots.links-visible .soc-links {
	z-index: 400;
	opacity: 1;
	left: calc(100% + 20px);
	animation-name: show;
	animation-duration: 0.5s;
	transform: perspective(400px) translateY(-50%) rotateY(-30deg);
}

