body {
  font-family: "Poppins", Arial, san-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.header {
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 30px;
  height: 70px;
  line-height: 70px;
	text-align: center;
}

#root,
.root {
  width: 100%;
  height: 100%;
	overflow: hidden;
}

.root {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.footer {
	position: fixed;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	padding: 15px 25px;
	color: #e2e0e0;
	text-align: center;
	transition: color .1s linear;
	font-size: 13px;
}

.footer:hover {
	color: #a8a6a6;
}

.footer a {
	color: inherit;
	text-decoration: none;
	transition: color .1s linear;
}

.footer a:hover {
	color: #615f5f;
}

@media (max-width: 600px) {
	.header {
		height: 50px;
		line-height: 50px;
		padding: 0 15px;
		text-align: right;
	}
}