@keyframes cd-bounce-rotate {
	0% {
		opacity: .2;
		transform: perspective(800px) rotateX(-80deg);
	}
	20% {
		opacity: 1;
	}
	60% {
		transform: perspective(800px) rotateX(20deg);
	}
	100% {
		opacity: 1;
		transform: perspective(800px) rotateX(0);
	}
}

@keyframes cd-bounce-unrotate {
	0% {
		opacity: .2;
		transform: perspective(800px) rotateX(80deg);
	}
	20% {
		opacity: 1;
	}
	60% {
		transform: perspective(800px) rotateX(-20deg);
	}
	100% {
		opacity: 1;
		transform: perspective(800px) rotateX(0);
	}
}

@keyframes show {
	0% {
		left: 20px;
		opacity: 0;
		transform: perspective(400px) translateY(-50%) rotateY(0deg);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		transform: perspective(400px) translateY(-50%) rotateY(-30deg);
	}
}


