.view-switcher__wrapp {
	display: inline-block;
	text-align: center;
}

.view-switcher__wrapp:hover {
	cursor: pointer;
}

.view-switcher {
	background-color: #e6e6e6;
	position: relative;
	display: inline-block;
	width: 30px;
	height: 14px;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 2px;
	border-radius: 8px;
	vertical-align: middle;
}

.view-switcher::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	left: 3px;
	border: 2px solid transparent;
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	top: 3px;
	border-radius: 50%;
	-webkit-transition: left .2s,border-color .2s;
	transition: left .2s,border-color .2s;
	background-color: #333333;
}

.small-view .view-switcher::after {
	left: 19px;
}

.dots {
	display: none;
	height: 0;
	opacity: 0;
}

.btn {
	position: relative;
	z-index: 10;
	-webkit-box-align: baseline;
	align-items: baseline;
	box-sizing: border-box;
	cursor: default;
	display: inline-flex;
	font-size: inherit;
	font-style: normal;
	height: 2.28571em;
	line-height: 2.28571em;
	max-width: 100%;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	width: 37px;
	height: 37px;
	color: rgb(80, 95, 121) !important;
	background: rgba(9, 30, 66, 0.02);
	border-radius: 50%;
	border-width: 0px;
	margin: 0px;
	padding: 0px 8px;
	text-decoration: none;
	transition: background 0.1s ease-out, box-shadow .15s ease-in-out;
	outline: none !important;
}

.btn.active {
	background-color: rgba(9, 30, 66, 0.04);
	box-shadow: 0 0 0 2px #FFFFFF, 0 0 0 4px #0096FF;
}

.btn:hover {
	cursor: pointer;
	background: rgba(9, 30, 66, 0.04);
}

.small-view .dots {
	display: inline-flex;
	opacity: 1;
	height: 100%;
}